[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Type=XSession
Exec=start-stumpwm
TryExec=start-stumpwm
Name=StumpWM
Comment=The Stump Window Manager

